<div class="calculator">
    <div class="mb-3 mt-3 d-flex justify-content-center">
        <input type="text" name="calcInput" id="calcInpt" [(ngModel)]="operation" readonly>
    </div>

    <div class="row" >
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('1')">1</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('2')">2</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('3')">3</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('4')">4</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('5')">5</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('6')">6</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('7')">7</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('8')">8</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('9')">9</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('0')">0</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('+')">+</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('-')">-</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('*')">*</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="appendValue('/')">/</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="solve()">=</button>
        </div>
        <div class="col-3 mb-2">
            <button class="btn btn-primary btn-block" (click)="reset()">C</button>
        </div>
    </div>
</div> 
